body {
    background-color: pink;
    color: grey;
    font-style: oblique;
    font-family: monospace;
}
h1 {
  display: flex;
  justify-content: center;
  color: grey;
  font-size: 115px;
}
h2 {
  color: hotpink;
  font-size: 40px;
}
.title-text {
  font-size:85px
}
h3 {
  font-size: 85px
}
.align-center{
  margin-left: auto;
  margin-right:auto;
}
